nav {
    background-color: rgb(98, 157, 212);
    height: 110px;
    width: 100%;
    font-weight: bold;
  }
  .enlace {
    position: absolute;
    padding: 20px 50px;
    text-decoration: none;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 90px;
  }
  h1 {
    margin-left: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    
  }
  
  nav ul {
    float: right;
    margin-right: 20px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 110px;
    margin: 0 6px;
    
    
  }
  
  nav ul li a {
    color: antiquewhite;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  li a.active, li a:hover {
    background-color: rgb(72, 106, 138);
    transition: .5s;
  }
  
  